:root {
  --color-primary: #ffc700;
  --color-light-primary: #ffeaa0;
  --color-dark-black: #191919;
  --color-light-black: #2e2e2e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #dddddd;
  --color-dark-gray: #555555;
}

*,
*::before,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark-black);
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}

// ==========================
// Helpers
// ==========================
.gray {
  color: var(--color-light-gray);
}

.floating-shadow {
  -webkit-box-shadow: 0px 0px 15px 0px var(--color-dark-gray);
  -moz-box-shadow: 0px 0px 15px 0px var(--color-dark-gray);
  box-shadow: 0px 0px 15px 0px var(--color-dark-gray);
}

// ==========================
// Navbar
// ==========================
.navbar {
  z-index: 30;
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: top 0.3s;
}

// ==========================
// Buttons
// ==========================
.button {
  padding: 0.75rem;
  margin: 0.5rem;
  text-decoration: none;
  border-radius: 0.75rem;
  width: 5rem;
  text-align: center;
  border: none;
  outline: none;

  &--primary {
    background-color: var(--color-black);
    color: var(--color-white);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-primary);
      color: var(--color-black);
    }
  }

  &--secondary {
    background-color: var(--color-primary);
    color: var(--color-black);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-light-primary);
      color: var(--color-black);
    }
  }
}

// ==========================
// Hero
// ==========================
.hero {
  height: 95vh;
  position: relative;

  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    z-index: 3;
    font-size: 3rem;
    text-align: center;
    color: var(--color-primary);
  }

  &__subtitle {
    z-index: 3;
    text-align: center;
    font-size: 1.5rem;
  }

  &__item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: bottom;
  }

  &__1 {
    background-image: url("../images/backgrounds/circles.png");
  }
  &__2 {
    background-image: url("../images/backgrounds/crosses.png");
  }
  &__3 {
    background-image: url("../images/backgrounds/triangles.png");
  }
}

// ==========================
// Icons
// ==========================

.arrow-down {
  display: flex;
  justify-content: center;

  &--accent {
    color: var(--color-primary);
  }
}

// ==========================
// Container
// ==========================

.container {
  max-width: 1344px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

// ==========================
// Grid
// ==========================
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: none;
    grid-row-gap: 2rem;
  }
}

// ==========================
// Line break
// ==========================
.line-break {
  border-bottom: 1px solid var(--color-white);
  height: 0.8rem;
  text-align: center;
  margin-top: 0;

  &__text {
    background: var(--color-dark-black);
    padding: 0 0.8rem;
    color: var(--color-primary);
  }

  &__container {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

// ==========================
// Projects
// ==========================

.project {
  &__container {
    background-color: var(--color-light-black);
    border-radius: 0.75rem;
    padding: 2rem;
    margin-bottom: 6rem;
  }

  &__title {
    color: var(--color-primary);

    &__container {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      text-align: center;
    }
  }

  &__image {
    overflow: hidden;

    &__figure {
      margin: 0;
    }

    &__item {
      border-radius: 0.75rem;
    }
  }

  &__expand {
    position: absolute;
    right: 0.5rem;
    bottom: 2rem;
    background-color: var(--color-light-black);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--color-white);
    outline: none;
  }

  &__expand:hover,
  &__expand:focus {
    background-color: var(--color-primary);
    color: var(--color-black);
    cursor: pointer;
  }

  &__info {
    &__title {
      margin-top: 0;
      margin-bottom: 0.25rem;
    }

    &__subtitle {
      margin-top: 0.25rem;
      margin-bottom: 2rem;
      color: var(--color-light-gray);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }
}

// ==========================
// Skills
// ==========================
.skills {
  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__content {
    color: var(--color-light-gray);
  }
}

@media only screen and (max-width: 768px) {
  .skills__container {
    display: block;
  }
}

// ==========================
// Contact
// ==========================
.contact {
  text-align: center;
  color: var(--color-light-gray);

  &__icon-title {
    text-align: center;
  }

  &__icons {
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__icon-container {
    display: flex;
    justify-content: center;
  }
}

// ==========================
// Footer
// ==========================
.link {
  color: var(--color-primary);
}
.link:hover {
  color: var(--color-light-primary);
}

// ==========================
// Footer
// ==========================
.footer {
  margin-top: 16rem;
  background-color: var(--color-light-black);
  height: 16rem;
  text-align: center;

  &__content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

// ==========================
// Scroll to top button
// ==========================
#toTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1rem; /* Place the button at the bottom of the page */
  right: 1rem; /* Place the button 30px from the right */
  z-index: 20; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color-black); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem; /* Some padding */
  border-radius: 0.75rem; /* Rounded corners */
}

#toTopButton:hover,
#toTopButton:focus {
  background-color: var(
    --color-dark-gray
  ); /* Add a dark-grey background on hover */
}

// ==========================
// Modal
// ==========================
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 40; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  transition: opacity 2s;

  // Image container
  &__container {
    width: 80%;
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
  }

  &__animate {
    // Animation - Zoom in the Modal
    animation-name: zoom;
    animation-duration: 0.5s;
  }

  /* The Close Button */
  &__close {
    position: absolute;
    z-index: 41;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@keyframes zoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 768px) {
  .modal__container {
    width: 100%;
  }
}
